.c-top-list {
    margin: 0 auto;
    width: 1100px;
    padding: 80px 0;
}

.c-top-list .wrapper {
    width: 275px;
    float: left;
    text-align: center;
}

.c-top-list .wrapper p:first-child {
    width: 53px;
    height: 72px;
    color: #159eee;
    font-size: 72px;
}

.c-top-list .wrapper p:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 20px;
}

.c-top-list .wrapper p:nth-child(3) {
    color: #686666;
    min-height: 65px;
    max-height: 70px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 100;
    text-indent: 1em;
    line-height: 1.6em;
}


/* canvas线 */

.c-canvas-box {
    position: relative;
    height: 505px;
}

.c-canvas-box #J_dotLine {
    display: block;
    opacity: .5;
    position: absolute;
}

.c-canvas-box .c-canvas-container {
    position: absolute;
    width: 1100px;
    height: 505px;
    left: 50%;
    margin-left: -550px;
    overflow: hidden;
}

.c-canvas-box .c-canvas-container .ccc-l {
    width: 505px;
    min-height: 100px;
    float: left;
    margin-top: 80px;
}

.c-canvas-box .c-canvas-container .ccc-l h2 {
    font-size: 34px;
    color: #202020;
}

.c-canvas-box .c-canvas-container .ccc-l h4 {
    font-size: 18px;
    color: #686666;
    font-weight: 100;
    line-height: 1.7em;
    margin: 30px 0;
}

.c-canvas-box .c-canvas-container .ccc-l>a {
    display: block;
    background: #159eee;
    color: #fff;
    width: 200px;
    height: 52px;
    line-height: 52px;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.c-canvas-box .c-canvas-container .ccc-l>a .context {
    margin-left: 40px;
}

.c-canvas-box .c-canvas-container .ccc-l>a .c-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    font-size: 30px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.c-canvas-box .c-canvas-container .ccc-l>a .c-icon i {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    transition: all .2s linear;
    line-height: 35px;
}

.c-canvas-box .c-canvas-container .ccc-l>a:hover .c-icon i:first-child {
    transform: translateX(55px);
}

.c-canvas-box .c-canvas-container .ccc-l>a .c-icon i:last-child {
    left: -40px
}

.c-canvas-box .c-canvas-container .ccc-l>a:hover .c-icon i:last-child {
    transform: translateX(41px);
}

.c-canvas-box .c-canvas-container .ccc-r {
    width: 505px;
    height: 300px;
    min-height: 100px;
    float: right;
    text-align: right;
    margin-top: 50px;
}

/* c-slide1轮播 */
.c-slide1 {
    width: 100%;
    position: relative;
    background: url("../images/parallax-2-home-main.jpg");
}

.c-slide1 .slideBox {
    width: 100%;
    height: 615px;
    overflow: hidden;
    position: relative;
}

.c-slide1 .slideBox .hd {
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 1;
}

.c-slide1 .slideBox .hd ul {
    zoom: 1;
    float: left;
}

.c-slide1 .slideBox .hd ul li {
    float: left;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.c-slide1 .slideBox .hd ul li.on {
    background: #fff;
    position:relative;
}
.c-slide1 .slideBox .hd ul li.on:after {
    display:block;
    content:"";
    width:130%;
    height:130%;
    border-radius:50%;
    border:2px solid #fff;
    position:absolute;
    top:-4px;
    left:-4px;
}

.c-slide1 .slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.c-slide1 .slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
    position:relative;
}

.c-slide1 .slideBox .bd img {
    width: 100%;
    height: 465px;
    display: block;
}

.c-slide1 .slideBox .caption {
    width: 1100px;
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -550px;
    color: #fff;
    text-align: center;
}

.c-slide1 .slideBox .caption>h2 {
    height: 65px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 34px;
}

.c-slide1 .slideBox .caption>h4 {
    overflow: hidden;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 100;
    color: #dbdbdb;
}

.c-slide1 .slideBox .caption .talk-windows {
    margin: 0 auto;
}

.c-slide1 .slideBox .caption .talk-windows .talk {
    float: left;
    text-align: left;
    width: 30%;
    margin-left: 20px;
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-top {
    background: rgba(255, 255, 255, .35);
    padding: 20px 30px 20px;
    border-radius: 4px;
    position: relative;
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-top:after {
    position: absolute;
    left: 30px;
    bottom: -30px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid rgba(255, 255, 255, .35);
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid transparent;
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-top p:first-child {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-top p:nth-child(2) {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-bottom {
    margin-top: 50px;
    /* margin-left: 30px; */
}

.c-slide1 .slideBox .caption .talk-windows .talk .talk-bottom .talk-bt {
    float: left;
    margin-left: 30px;
    overflow: hidden;
}
.c-slide1 .slideBox .caption .talk-windows .talk .talk-bottom .talk-bt img{
    width:56px;
    height:56px;
}

.c-slide1 .slideBox .prev,
.c-slide1 .slideBox .next {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    top: 50%;
    left: 0;
    margin-top: -35px;
    z-index: 10;
    background: rgba(255,255,255,.4);
    color: #fff;
    font-size: 21px;
}

.c-slide1 .slideBox .next {
    left: auto;
    right: 0;
}

.c-slide1 .slideBox .prev:hover,
.c-slide1 .slideBox .next:hover {
    /* filter: alpha(opacity=100);
    opacity: 1; */
}

.c-slide1 .slideBox .prevStop {
    display: none;
}

.c-slide1 .slideBox .nextStop {
    display: none;
}
/* c-slide1轮播 结束*/


.container .c-findmore {
    width: 1100px;
    margin: 0 auto;
    height: 477px;
}

.container .c-findmore .c-findmore-l {
    float: left;
    width: 525px;
    height:477px;
}
.container .c-findmore .c-findmore-l img{

}

.container .c-findmore .c-findmore-r {
    float: right;
    width: 535px;
    margin-top: 100px;
}

.container .c-findmore .c-findmore-r>h2 {
    font-size: 34px;
    color: #202020;
}

.container .c-findmore .c-findmore-r>h4 {
    font-size: 18px;
    font-weight: 100;
    color: #686666;
    height: 100px;
    overflow: hidden;
    line-height: 1.8;
    margin: 30px 0;
}

.container .c-findmore .c-findmore-r>a {
    display: block;
    box-sizing: border-box;
    background: #159eee;
    width: 200px;
    height: 52px;
    color: #fff;
    padding-left: 30px;
    border-radius: 3px;
    line-height: 52px;
}

.container .c-findmore .c-findmore-r>a .i-cons {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: middle;
}

.container .c-findmore .c-findmore-r>a .i-cons i {
    position: absolute;
    top: 2px;
    transition: all .3s linear;
}

.container .c-findmore .c-findmore-r>a .i-cons i:nth-child(2) {
    left: -40px;
}

.container .c-findmore .c-findmore-r>a:hover .i-cons i {
    transform: translateX(40px);
}

/* c-slide2轮播 */
.c-slide2 {
    width: 100%;
    position: relative;
}

.c-slide2 .slideBox {
    width: 100%;
    height: 434px;
    overflow: hidden;
    position: relative;
}

.c-slide2 .slideBox .hd {
    height: 15px;
    position: absolute;
    top: 50%;
    left:0;
    z-index: 1;
    transform:rotate(90deg);
}

.c-slide2 .slideBox .hd ul {
    zoom: 1;
    float: left;
}

.c-slide2 .slideBox .hd ul li {
    float: left;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.c-slide2 .slideBox .hd ul li.on {
    background: #fff;
    position:relative;
}
.c-slide2 .slideBox .hd ul li.on:after {
    display:block;
    content:"";
    width:130%;
    height:130%;
    border-radius:50%;
    border:2px solid #fff;
    position:absolute;
    top:-4px;
    left:-4px;
}

.c-slide2 .slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.c-slide2 .slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
    position:relative;
}

.c-slide2 .slideBox .bd img {
    width: 100%;
    height: 434px;
    display: block;
}

.c-slide2 .slideBox .caption {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: linear-gradient(90deg,rgba(33,33,33,.98) 50%,transparent 50%);
}
.c-slide2 .slideBox .caption:after{
    background-size: cover;
    content: '';
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left:-1px;
    width: 140px;
    background: url("../images/fullwidth-slider-extend.png") left center no-repeat;
}

.c-slide2 .slideBox .caption .caption-container{
    position:absolute;
    top:0;
    left:9%;
    width:35%;
    height:100%;
}
.c-slide2 .slideBox .caption .caption-container h2{
    color:#fff;
    font-size:34px;
    margin-top:40px;
}
.c-slide2 .slideBox .caption .caption-container h4{
    color: #ddd;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.7;
    margin: 20px 0;
}
.c-slide2 .slideBox .caption .caption-container p{
    margin-bottom: 36px;
    color: #adacac;
    font-weight:100;
}
.c-slide2 .slideBox .caption .caption-container>a{
    display: block;
    box-sizing: border-box;
    background: #159eee;
    width: 210px;
    height: 52px;
    color: #fff;
    padding-left: 30px;
    border-radius: 3px;
    line-height: 52px;
}
.c-slide2 .slideBox .caption .caption-container>a .i-cons{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: middle;
}
.c-slide2 .slideBox .caption .caption-container>a .i-cons i{
    position: absolute;
    top: 2px;
    transition: all .3s linear;
}
.c-slide2 .slideBox .caption .caption-container>a .i-cons i:nth-child(2){
    left: -40px;
}
.c-slide2 .slideBox .caption .caption-container>a:hover .i-cons i{
    transform: translateX(42px);
}

.c-slide2 .slideBox .prev,
.c-slide2 .slideBox .next {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    top: 50%;
    left: 0;
    margin-top: -35px;
    z-index: 10;
    background: rgba(255,255,255,.4);
    color: #fff;
    font-size: 21px;
}

.c-slide2 .slideBox .next {
    left: auto;
    right: 0;
}

.c-slide2 .slideBox .prevStop {
    display: none;
}

.c-slide2 .slideBox .nextStop {
    display: none;
}
/* c-slide2轮播 结束*/

.c-tabs{
    width:1100px;
    height:442px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:40px;
    text-align:center;
}
.c-tabs .c-tabs-top>h2{
    color:#202020;
    font-size:33px;
}
.c-tabs .c-tabs-top>h4{
    color:#797979;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 100;
    margin: 25px 0;
}
.c-tabs .c-tabs-bottom .ctb-l{
    float:left;
}
.c-tabs .c-tabs-bottom .ctb-r{
    float:right;
    margin-top:30px;
    max-height:245px;
    overflow:hidden;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox {
    width: 750px;
    text-align: left;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd {
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 20px;
    position: relative;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul li {
    float: left;
    padding: 5px 25px;
    cursor: pointer;
    border:2px solid #159eee;
    border-right: none;
    color:#159eee;
    font-size:14px;
}
.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul li:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
}
.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul li:last-child{
    border-right:2px solid #159eee;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul li:hover{
    background: #159eee;
    color:#fff;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .hd ul li.on {
    background: #159eee;
    color:#fff;
}
.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .bd{
    margin-top:40px;
}

.c-tabs .c-tabs-bottom .ctb-r .slideTxtBox .bd div {
    color:#797979;
    font-size:14px;
    font-weight:100;
    line-height:25px;
}
.container .c-imgeightbox{
    /* width:100%; */
    width:1200px;
    height:448px;
    margin:0 auto;
}
.container .c-imgeightbox>a{
    display:block;
    float:left;
    width:300px;
    /* width:25%; */
    height:224px;
    position:relative;
    overflow:hidden;
}
.container .c-imgeightbox>a>img{
    width:100%;
}
.container .c-imgeightbox>a:after{
    position:absolute;
    top: 0;
    left: -25%;
    right: 0;
    bottom: 0;
    margin: auto;
    display:block;
    content:"";
    width:150%;
    height:190%;
    background:rgba(255, 255, 255, .9);
    transform:scale(0);
    transition:all .2s ease-in-out;
    border-radius:50%;
}
.container .c-imgeightbox>a:hover:after{
    transform:scale(1);
}
.container .c-imgeightbox>a>div{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:50px;
    margin-top:-25px;
    line-height:25px;
    text-align:center;
    z-index:1;
    opacity:0;
    transition:all .2s;
}
.container .c-imgeightbox>a>div>h5{
    font-size:18px;
}
.container .c-imgeightbox>a>div>p{
    color:#159eee;
}
.container .c-imgeightbox>a:hover>div{
    opacity:1;
}
.container .c-checkitout{
    width:100%;
    height:160px;
    background:url("../images/call-to-action-home-main.png") no-repeat;
}
.container .c-checkitout .c-ccko{
    width:1100px;
    height:160px;
    line-height:160px;
    margin:0 auto;
    color:#fff;
}
.container .c-checkitout .c-ccko>p{
    float:left;
}
.container .c-checkitout .c-ccko>a{
    float:right;
    box-sizing: border-box;
    border:2px solid rgba(255, 255, 255, .35);
    min-width:230px;
    height: 52px;
    color: #fff;
    padding-left: 30px;
    border-radius: 3px;
    line-height: 50px;
    margin-top:55px;
    font-size:13px;
    cursor:pointer;
}
.container .c-checkitout .c-ccko>a span:first-child{
    margin-left: -8px;
}
.container .c-checkitout .c-ccko>a .i-cons{
    display: inline-block;
    width: 50px;
    height: 48px;
    position: relative;
    font-size: 30px;
    margin-left: 18px;
    margin-top:-6px;
    overflow: hidden;
    vertical-align: middle;
    border-left:2px solid rgba(255, 255, 255, .35);
}
.container .c-checkitout .c-ccko>a .i-cons i{
    position: absolute;
    top: 9px;
    left:14px;
    transition: all .3s linear;
}
.container .c-checkitout .c-ccko>a .i-cons i:nth-child(2){
    left: -40px;
}
.container .c-checkitout .c-ccko>a:hover .i-cons i{
    transform: translateX(54px);
}
.container .c-fourman{
    width:100%;
    min-height:100px;
    margin-top: 65px;
    margin-bottom:100px;
}
.container .c-fourman .cf-container{
    width:1100px;
    margin:0 auto;
    text-align:center;
}
.container .c-fourman .cf-container>h2{
    font-size:30px;
    margin-bottom: 25px;
}
.container .c-fourman .cf-container>h4{
    font-size:15px;
    color:#797979;
    margin-bottom:70px;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box{
    float:left;
    width:252px;
    height:311px;
    overflow:hidden;
    margin-right:28px;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box:last-child{
    margin-right:0;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box .cfc-img{
    width:192px;
    height:192px;
    position:relative;
    margin-left:30px;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box .cfc-img img{
    width:100%;
    height:100%;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box .cfc-img .cfc-icon{
    background:#159eee;
    font-size:20px;
    position:absolute;
    right:0;
    top:0;
    width:55px;
    height:55px;
    border-radius:50%;
    color:#fff;
    text-align:center;
    line-height:53px;
    transition:all .1s ease-in-out;
    opacity:1;
}
.container .c-fourman .cf-container .cf-conbox .cfc-box .cfc-display{
    width:55px;
    height:55px;
    background:#159eee;
    color:#fff;
    border-radius:50%;
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    line-height:190px;
    transform:scale(0);
    transition:all .2s ease-in-out;
}
.container .c-fourman .cf-container .cfc-box:hover .cfc-display{
    width:192px;
    height:192px;
    transform:scale(1);
}
.container .c-fourman .cf-container .cfc-box:hover .cfc-img .cfc-icon{
    opacity:0;
}
.container .c-fourman .cf-container .cfc-box .cfc-cont h3{
    margin-top:30px;
}
.container .c-fourman .cf-container .cfc-box .cfc-cont p{
    margin-top:20px;
    color:#797979;
    font-size:14px;
    line-height:1.6;
}
.container .c-learnmore{
    width:100%;
    height:440px;
    box-sizing:border-box;
    background:url("../images/parallax-3-home-main.jpg") 50% -20px;
    position:relative;
    padding-top:60px;
}
.container .c-learnmore>p{
    position:absolute;
    content:"";
    top:-50px;
    left:50%;
    width:100px;
    height:100px;
    margin-left:-25px;
    background:#159eee;
    border-radius:50%;
    text-align:center;
    line-height:100px;
    font-size:45px;
    color:#fff;
}
.container .c-learnmore .clm-cont{
    width:1100px;
    margin:0 auto;
    margin-top:40px;
    color:#fff;
    text-align:center;
}
.container .c-learnmore .clm-cont>h2{
    font-size:50px;
    margin-bottom:25px;
}
.container .c-learnmore .clm-cont>h4{
    width: 75%;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 17px;
    font-weight: 100;
    margin-bottom:60px;
}

.container .c-learnmore .clm-cont .clm-cont-btns a{
    display:inline-block;
    width:165px;
    height:52px;
    text-align:center;
    line-height:50px;
    border-radius:3px;
    color:#fff;
    font-size:13px;
    box-sizing:border-box;
    position:relative;
    z-index:1;
    overflow:hidden;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-one{
    background:#159eee;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-two{
    border:2px solid rgba(255, 255, 255, .35);
    background:transparent;
    margin-left:10px;
    vertical-align:top;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-one:after{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    background: #fff;
    border-radius: 50%;
    transition: all .2s ease-out;
    z-index: -1;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-one:hover:after{
    width: 150%;
    height: 500%;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-one:hover{
    color:#202020;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-two:after{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    background: #159eee;
    border-radius: 50%;
    transition: all .2s ease-out;
    z-index: -1;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-two:hover:after{
    width: 150%;
    height: 500%;
}
.container .c-learnmore .clm-cont .clm-cont-btns .btns-two:hover{
    border-color:#159eee;
}
.container .c-divthreebox{
    width:100%;
    margin:0 auto;
}
.container .c-divthreebox .cdtb{
    float:left;
    width:33.3%;
    height:368px;
    background:#bedc59;
    box-sizing:border-box;
}
.container .c-divthreebox .cdtb .cdtb-cont{
    width:350px;
    text-align:left;
    color:#fff;
    margin-left:10%;
    margin-top:50px;
}
.container .c-divthreebox .cdtb .cdtb-cont>h3{
    margin-bottom:25px;
}
.container .c-divthreebox .cdtb .cdtb-cont>p{
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
}
.container .c-divthreebox .cdtb .cdtb-cont>a{
    display:block;
    box-sizing: border-box;
    border:2px solid rgba(255, 255, 255, .35);
    width:225px;
    height: 52px;
    color: #fff;
    border-radius: 3px;
    line-height: 50px;
    margin-top:55px;
    font-size:13px;
    cursor:pointer;
}
.container .c-divthreebox .cdtb .cdtb-cont>a span:first-child{
    display: inline-block;
    width: 160px;
    text-align: center;
}
.container .c-divthreebox .cdtb .cdtb-cont>a .i-cons{
    display: inline-block;
    width: 50px;
    height: 48px;
    position: relative;
    font-size: 30px;
    margin-top:-6px;
    overflow: hidden;
    vertical-align: middle;
    border-left:2px solid rgba(255, 255, 255, .35);
}
.container .c-divthreebox .cdtb .cdtb-cont>a .i-cons i{
    position: absolute;
    top: 9px;
    left:14px;
    transition: all .3s linear;
}
.container .c-divthreebox .cdtb .cdtb-cont>a .i-cons i:nth-child(2){
    left: -40px;
}
.container .c-divthreebox .cdtb .cdtb-cont>a:hover .i-cons i{
    transform: translateX(54px);
}
.container .c-divthreebox .cdtb:nth-child(2){
    background:#f5f5f5;
}
.container .c-divthreebox .cdtb:nth-child(2) .cdtb-cont>h3{
    color:#202020;
}
.container .c-divthreebox .cdtb:nth-child(2) .cdtb-cont>p{
    color:#797979;
}
.container .c-divthreebox .cdtb:nth-child(2) .cdtb-cont>a{
    border-color:rgba(0,0,0,0.35);
    color:#202020;
}
.container .c-divthreebox .cdtb:nth-child(2) .cdtb-cont>a .i-cons{
    border-color:rgba(0,0,0,.35);
}
.container .c-divthreebox .cdtb:nth-child(3){
    background:rgba(33,33,33,.98);
}
.container .c-wrap{
    width:1100px;
    height:480px;
    margin:0 auto;
}
.container .c-wrap .cw-l{
    float:left;
    width:560px;
    text-align:left;
    box-sizing:border-box;
    padding-right:20px;
    margin-top:80px;
}
.container .c-wrap .cw-l>h2{
    font-size:34px;
    margin-bottom: 25px;
}
.container .c-wrap .cw-l>h4{
    color:#797979;
    line-height:1.6;
    font-weight:100;
}
.container .c-wrap .cw-l .cw-l-list{
    width:410px;
    margin-top: 30px;
    color:#787878;
}
.container .c-wrap .cw-l .cw-l-list li{
    float:left;
    margin-right:60px;
    color: #787878;
    font-size: 14px;
    margin-bottom:10px;
}
.container .c-wrap .cw-l .cw-l-list li i{
    color:#159eee;
    margin-right:6px;
}
.container .c-wrap .cw-r{
    float:left;
    width:530px;
    height:100%;
}
.container .c-wrap .cw-r img{
    width:100%;
    height:100%;
}
.container .c-designbox{
    width:100%;
    background:#f8f8f8;
}
.container .c-designbox .cdb{
    width:1100px;
    margin:0 auto;
}
.container .c-designbox .cdb .cdb-box{
    float:left;
    width:260px;
    height:385px;
    text-align:center;
    position:relative;
    margin-right:20px;
    margin-top:80px;
    margin-bottom:60px;
}
.container .c-designbox .cdb .cdb-box:after{
    content:"";
    display:block;
    width:60px;
    height:0;
    position:absolute;
    top:28%;
    right:-14%;
    border-top:2px dashed #e1e1e1;
}
.container .c-designbox .cdb .cdb-box:last-child{
    margin-right:0;
}
.container .c-designbox .cdb .cdb-box:last-child:after{
    display:none; 
}
.container .c-designbox .cdb .cdb-box .cdbbox-top{
    width:200px;
    height:200px;
    border:3px solid #e1e1e1;
    border-radius:50%;
    position:relative;
    transition:all .2s;
    margin-left:25px;
    box-sizing:border-box;
}

.container .c-designbox .cdb .cdb-box .cdbbox-top .cdbbox-icon{
    position:absolute;
    width:90px;
    height:90px;
    border-radius:50%;
    background:#797979;
    top:50%;
    left:50%;
    margin-top:-45px;
    margin-left:-45px;
    z-index:1;
    transition: all .2s;
}
.container .c-designbox .cdb .cdb-box .cdbbox-top .cdbbox-icon i{
    color:#fff;
    font-size:30px;
    text-align: center;
    line-height: 88px;
}
.container .c-designbox .cdb .cdb-box .cdbbox-top .cdbbox-icon:after{
    display:block;
    content:"";
    position:absolute;
    width:150%;
    height:150%;
    top:-25%;
    left:-25%;
    background:#159eee;
    border-radius:50%;
    opacity:.6;
    z-index:-1;
    transform:scale(0);
    transition: all .2s;
    transition-timing-function: cubic-bezier(0.52, 1.7, 0.5, 0.4);
}
.container .c-designbox .cdb .cdb-box>h2{
    font-size: 20px;
    margin-top: 30px;
}
.container .c-designbox .cdb .cdb-box>p{
    font-size: 14px;
    color: #797979;
    margin-top: 20px;
    font-weight: 100;
    line-height: 1.6;
}
.container .c-designbox .cdb .cdb-box:hover .cdbbox-top{
    border-color:#159eee;
}
.container .c-designbox .cdb .cdb-box:hover .cdbbox-top .cdbbox-icon{
    background-color:#159eee;
}
.container .c-designbox .cdb .cdb-box:hover .cdbbox-top .cdbbox-icon:after{
    transform:scale(1);
}.container .c-designbox .cdb .cdb-box:hover>h2{
    color:#159eee;
}


.container .c-learnmoretwo .c-learnmore{
    width:100%;
    height:440px;
    box-sizing:border-box;
    background:url("../images/parallax-4-home-main.jpg") 50% -20px;
    position:relative;
    padding-top:60px;
}

.container .c-learnmoretwo .c-learnmore .clm-cont{
    width:1100px;
    margin:0 auto;
    margin-top:40px;
    color:#fff;
    text-align:center;
}
.container .c-learnmoretwo .c-learnmore .clm-cont>h2{
    font-size:50px;
    margin-bottom:25px;
}
.container .c-learnmoretwo .c-learnmore .clm-cont>h4{
    width: 75%;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 17px;
    font-weight: 100;
    margin-bottom:60px;
}

.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns a{
    display:inline-block;
    width:165px;
    height:52px;
    text-align:center;
    line-height:50px;
    border-radius:3px;
    color:#fff;
    font-size:13px;
    box-sizing:border-box;
    position:relative;
    z-index:1;
    overflow:hidden;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-one{
    background:#159eee;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-two{
    border:2px solid rgba(255, 255, 255, .35);
    background:transparent;
    margin-left:10px;
    vertical-align:top;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-one:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    display: block;
    content: "";
    background: #fff;
    border-radius: 50%;
    transition: all .2s ease-out;
    z-index: -1;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-one:hover:after{
    width: 150%;
    height: 500%;
}
.container.c-learnmoretwo  .c-learnmore .clm-cont .clm-cont-btns .btns-one:hover{
    color:#202020;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-two:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    display: block;
    content: "";
    background: #159eee;
    border-radius: 50%;
    transition: all .2s ease-out;
    z-index: -1;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-two:hover:after{
    width: 150%;
    height: 500%;
}
.container .c-learnmoretwo .c-learnmore .clm-cont .clm-cont-btns .btns-two:hover{
    border-color:#159eee;
}